p {
    color: blue;
    font-weight: bold;
}

.chg{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration:none;
    box-shadow: 0 4px 6px rgba(4444, 48, 26, 0.1);
    display: block; 
    flex-direction: column;
    text-shadow: 0px -2px rgb(191, 45, 45);
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid blue;
    position: relative;
    
    
}
.img{
    transition:transform 0.5s;

}
.img:hover{
    -ms-transform: scale(1.5s);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}